body {
    color: white;
    background-color: indianred;
}

::selection {
    color: #ecf0f1;
    background: rgb(51, 51, 51);
}

.header {
    padding-top: 80px;
}

.header h1 {
    text-align: center;
}

.header hr {
    width: 500px;
    margin-top: 50px;
    border-top: 5px dotted white;
}

.input-group {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
}

.button {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}